.footer {
    $property: padding;
    $selector: ".text";
    $size: 18;
    $width: 50;

    .copyright {
        #{$property}: 10px;

        text : {
            align: center;
            decoration: none;
            transform: uppercase;
        }

        font : {
            family: Roboto;
            size: 1.2 rem;
        }
    }

    #{$selector} {
        font-style: italic;
        font-size: #{$size}px;
        width: $width * 1%; //Quy đổi thành %
    }
}
