.color:nth-of-type(1):checked ~ .content {
    color: red;
}

.color:nth-of-type(2):checked ~ .content {
    color: green;
}

.color:nth-of-type(3):checked ~ .content {
    color: blue;
}

.color {
    display: none;
}
