* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    border: 1px solid #f00;
    margin: 30px auto;
}

.row {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    /* gap: 10px 20px; */
    /* row-gap: 10px;
    column-gap: 20px; */
    /* overflow: auto; */
    gap: 10;
}

.item {
    background: #0f0;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;

    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: calc(100% / 3 - 10px); */
    flex: 0 1 100px;
}

/* .item:nth-child(2) {
}

.item:nth-child(3) {
}

.item:nth-child(4) {
} */
